In [426]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [427]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1295,tt1413495,35000000,13785015,Paranoia,Liam Hemsworth|Harrison Ford|Gary Oldman|Amber Heard|Josh Holloway,Robert Luketic,In a war between kings even a pawn can change the game.,An entry-level employee at a powerful corporation finds himself occupying a c...,106,Drama|Thriller,Gaumont|Kintop Pictures|Reliance Entertainment|Relativity Media|IM Global,8/14/2013,5.6,2013
1880,tt0190374,35000000,15185241,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce Payne|Zoe McLellan,Courtney Solomon,This is no game.,The classic role-playing game comes to life in this magical adventure. The em...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Entertainment,12/8/2000,3.9,2000
991,tt1392170,75000000,691210692,The Hunger Games,Jennifer Lawrence|Josh Hutcherson|Liam Hemsworth|Woody Harrelson|Elizabeth Banks,Gary Ross,May The Odds Be Ever In Your Favor.,"Every year in the ruins of what was once North America, the nation of Panem f...",142,Science Fiction|Adventure|Fantasy,Lionsgate|Color Force,3/12/2012,6.7,2012
1204,tt1854564,90000000,174578751,Percy Jackson: Sea of Monsters,Logan Lerman|Alexandra Daddario|Douglas Smith|Leven Rambin|Brandon T. Jackson,Thor Freudenthal,"Where There Are Gods, There Are Monsters.","In their quest to confront the ultimate evil, Percy and his friends battle sw...",106,Adventure|Family|Fantasy,1492 Pictures|Dune Entertainment|Fox 2000 Pictures|Sunswept Entertainment|Dun...,8/7/2013,5.9,2013
1762,tt0489237,20000000,47738099,The Nanny Diaries,Scarlett Johansson|Laura Linney|Chris Evans|Paul Giamatti|Nicholas Art,Shari Springer Berman|Robert Pulcini,"A comedy about life at the top, as seen from the bottom.",A college graduate goes to work as a nanny for a rich New York family. Enscon...,106,Comedy|Drama|Romance,The Weinstein Company|FilmColony,8/24/2007,6.0,2007

In [428]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [429]:
answers = {} # создадим словарь для ответов

# парсим дату выхода
data['release_date'] = pd.to_datetime(data['release_date'])

# добавляем колонку "Прибыль"
data['profit'] = data['revenue'] - data['budget']
data.sample(5)


def split_by_column(data, column, sep):
    """ Функция разделяет строки списка на отдельные строки для каждого элемента из переданной колонки
    Принимает на вход аргументы: 
    data - исходный датафрейм, 
    column - колонка, по элементам которой выполняется разделение, 
    sep - разделитель внутри колонки
    """
    splitted_data = data.copy()
    splitted_data[column+'_splitted'] = data[column].str.split(sep, expand=False)
    splitted_data = splitted_data.explode(column+'_splitted')
    return splitted_data


def get_combinations_list(data):
    """Функция формирует Series с парами актёров, снявшихся в одном фильме"""
    combinations_list = data['cast'].str.split('|', expand=False)
    combinations_list = combinations_list.apply(combinations, args=(2,)).apply(list)
    combinations_list = combinations_list.explode()
    return combinations_list

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [430]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [431]:
data.iloc[data['budget'].idxmax()][['imdb_id', 'original_title']]

imdb_id                                             tt1298650
original_title    Pirates of the Caribbean: On Stranger Tides
Name: 723, dtype: object

ВАРИАНТ 2

In [432]:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [433]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [434]:
data.iloc[data['runtime'].idxmax()][['imdb_id', 'original_title']]

imdb_id                   tt0279111
original_title    Gods and Generals
Name: 1157, dtype: object

ВАРИАНТ 2

In [435]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [436]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [437]:
data.iloc[data['runtime'].idxmin()][['imdb_id', 'original_title']]

imdb_id                 tt1449283
original_title    Winnie the Pooh
Name: 768, dtype: object

ВАРИАНТ 2

In [438]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [439]:
answers['4'] = '2. 110'
# +

In [440]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [441]:
answers['5'] = '1. 107'
# +

In [442]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [443]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [444]:
data.iloc[data['profit'].idxmax()][['imdb_id', 'original_title']]

imdb_id           tt0499549
original_title       Avatar
Name: 239, dtype: object

ВАРИАНТ 2

In [445]:
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [446]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [447]:
data.iloc[data['profit'].idxmin()][['imdb_id', 'original_title']]

imdb_id                 tt1210819
original_title    The Lone Ranger
Name: 1245, dtype: object

ВАРИАНТ 2

In [448]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [449]:
answers['8'] = '1. 1478'
# +

In [450]:
data[data['profit'] > 0]['original_title'].count()

1478

ВАРИАНТ 2

In [451]:
data[data['revenue'] > data['budget']]['original_title'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [452]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [453]:
data[data['revenue'] == data[data['release_year'] == 2008]['revenue'].max()][['imdb_id', 'original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [454]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [455]:
data[data['profit'] == data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Helena Bonham Carter|James Badge Dale,Gore Verbinski,Never Take Off the Mask,"The Texas Rangers chase down a gang of outlaws led by Butch Cavendish, but th...",149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|Infinitum Nihil|Silver Bullet Pr...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [456]:
answers['11'] = '3. Drama'
# +

In [457]:
# разбиваем строки с фильмами, у которых указано несколько жанров, на несколько строк
genres_splitted_data = split_by_column(data, 'genres', '|')
genres_splitted_data['genres_splitted'].value_counts().head(1)

Drama    782
Name: genres_splitted, dtype: int64

ВАРИАНТ 2

In [458]:
genres_splitted_data = data.copy()
# в каждом элементе преобразуем строку из колонки genres к списку, помещаем список в колонку genres_splitted
genres_splitted_data['genres_splitted'] = genres_splitted_data['genres'].apply(
    lambda x: x.split('|'))

# объединяем списки из колонки genres_splitted в единый список
result_list = []
genres_splitted_data['genres_splitted'].apply(lambda s: result_list.extend(s))

#находим элемент, чаще всего встречающийся в итоговом стиске 
Counter(result_list).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [459]:
answers['12'] = '1. Drama '
# +

In [460]:
# разбиваем строки с фильмами, у которых указано несколько жанров, на несколько строк
genres_splitted_data = split_by_column(data, 'genres', '|')

genres_splitted_data = genres_splitted_data[genres_splitted_data['profit'] > 0]
genres_splitted_data.genres_splitted.value_counts().head(1)

Drama    560
Name: genres_splitted, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [461]:
answers['13'] = '5. Peter Jackson'
# +

In [462]:
# разбиваем строки с фильмами, у которых указано несколько режиссёров, на несколько строк
directors_data = split_by_column(data, 'director', '|')

directors_data = directors_data.groupby('director_splitted').revenue.sum()
directors_data.sort_values(ascending=False).head(1)

director_splitted
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [463]:
answers['14'] = '3. Robert Rodriguez'
# +

In [464]:
action_movies = data[data['genres'].str.contains('Action')]

# разбиваем строки с фильмами, у которых указано несколько режиссёров, на несколько строк
directors_data = split_by_column(action_movies, 'director', '|')

directors_data['director_splitted'].value_counts().head(1)

Robert Rodriguez    9
Name: director_splitted, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [465]:
answers['15'] = '3. Chris Hemsworth'
# +

In [466]:
# создаём отдельную строку с фильмом для каждого актёра
actors_data = split_by_column(data, 'cast', '|')

actors_data = actors_data[actors_data['release_year'] == 2012]
actors_data = actors_data.groupby('cast_splitted').revenue.sum()
actors_data.sort_values(ascending=False).head(1)

cast_splitted
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [467]:
answers['16'] = '3. Matt Damon'
# +

In [468]:
# создаём отдельную строку с фильмом для каждого актёра
actors_data = split_by_column(data, 'cast', '|')

actors_data = actors_data[actors_data['budget'] > actors_data['budget'].mean()]
actors_data.cast_splitted.value_counts().head(1)

Matt Damon    18
Name: cast_splitted, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [469]:
answers['17'] = '2. Action'
# +

In [470]:
# разбиваем строки с фильмами, у которых указано несколько режиссёров, на несколько строк
genres_data = split_by_column(data, 'genres', '|')

genres_data = genres_data[genres_data['cast'].str.contains('Nicolas Cage')]
genres_data.genres_splitted.value_counts().head(1)

Action    17
Name: genres_splitted, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [471]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [472]:
data.iloc[data[data['production_companies'].str.contains('Paramount Pictures')].profit.idxmin()]

imdb_id                                                                                        tt0267626
budget                                                                                         100000000
revenue                                                                                         35168966
original_title                                                                      K-19: The Widowmaker
cast                                Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss Ackland|John Shrapnel
director                                                                                 Kathryn Bigelow
tagline                                                                         Fate has found its hero.
overview                When Russia's first nuclear submarine malfunctions on its maiden voyage, the ...
runtime                                                                                              138
genres                                                                            Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National Geographic Society|New Regency P...
release_date                                                                         2002-07-19 00:00:00
vote_average                                                                                           6
release_year                                                                                        2002
profit                                                                                         -64831034
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [473]:
answers['19'] = '5. 2015'
# +

In [474]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [475]:
answers['20'] = '1. 2014'
# +

In [476]:
warner_bros_data = data[data['production_companies'].str.contains('Warner Bros')]
warner_bros_data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [477]:
answers['21'] = '4. Сентябрь'
# +

In [478]:
data['release_date'].dt.month.value_counts().head(1)

9    227
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [479]:
answers['22'] = '2. 450'
# +

In [480]:
data[data['release_date'].dt.month.isin([6, 7, 8])].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [481]:
answers['23'] = '5. Peter Jackson'
# +

In [482]:
# создаём отдельную строку с фильмом для каждого режиссёра
director_data = split_by_column(action_movies, 'director', '|')

director_data = director_data[director_data['release_date'].dt.month.isin([1, 2, 12])]
director_data['director_splitted'].value_counts().head(1)

Peter Jackson    4
Name: director_splitted, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [483]:
answers['24'] = '5. Four By Two Productions'
# +

In [484]:
#увеличиваем размер колонки, чтобы в выводе отобразились все студии
pd.options.display.max_colwidth=81
data[data['original_title'].apply(len) == data['original_title'].apply(len).max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kaza...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela Anderson|Bob Barr,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to America to make a documentary. As...,82,Comedy,Twentieth Century Fox Film Corporation|Four By Two Productions,2006-11-02,6.4,2006,243572744

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [485]:
answers['25'] = '3. Midnight Picture Show'
# +

In [486]:
# создаём отдельную строку с фильмом для каждой студии
companies_data = split_by_column(data, 'production_companies', '|')

companies_data['overview_len'] = companies_data.overview.str.split().apply(len)
companies_data = companies_data.groupby('production_companies_splitted').overview_len.mean()
companies_data.sort_values(ascending=False).head(1)

production_companies_splitted
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [487]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [488]:
border = np.quantile(data['vote_average'], 0.99)
data[data['vote_average'] >= border]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Hader|Lewis Black,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no exception for Riley, who is uproo...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|Walt Disney Studios Motion Pictures,2015-06-09,8.0,2015,678708609
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Liev Schreiber|John Slattery,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncovered the massive scandal of child...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Content|Rocklin / Faust|Entertain...,2015-11-06,7.8,2015,68346473
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bridgers|William H. Macy,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has lived all his life in one room. He...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele Films,2015-10-16,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hathaway|Michael Caine|Casey Affleck,Christopher Nolan,Mankind was born on Earth. It was never meant to die here.,Interstellar chronicles the adventures of a group of explorers who make use o...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner Bros.|Syncopy|Lynda Obst Product...,2014-11-05,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Diesel|Bradley Cooper,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being abducted, Peter Quill finds hims...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bulletproof Cupid|Revolution Sun ...,2014-07-30,7.9,2014,603312399
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Miller|Jamie Chung,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,"The special bond that develops between plus-sized inflatable robot Baymax, an...",102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Studios,2014-10-24,7.8,2014,487105443
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew Goode|Rory Kinnear|Allen Leech,Morten Tyldum,The true enigma was the man who cracked the code.,"Based on the real life story of legendary cryptanalyst Alan Turing, the film ...",113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Patrick Harris|Tyler Perry,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become the focus of an intense media cir...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency Enterprises|New Regency Pictur...,2014-10-01,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|Mathieu Amalric|Adrien Brody,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary concierge at a famous European ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productions|Studio Babelsberg|Indian Pai...,2014-02-26,7.9,2014,144600318
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|David Thewlis|Emily Watson,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous physicist Stephen Hawking and h...,123,Drama|Romance,Working Title Films,2014-11-26,7.8,2014,106201940
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura Dern|Sam Trammell,Josh Boone,One Sick Love Story,"Despite the tumor-shrinking medical miracle that has bought her a few years, ...",125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TSG Entertainment,2014-05-16,7.8,2014,293151265
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah Polley|Rhys Ifans,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with his wife and 3 children; one day...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,2009-09-11,7.8,2009,-43452791
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Joshi|Boman Irani,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day Offâ€ comes this refreshing com...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,2009-12-23,7.8,2009,61000000
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen Page|Tom Hardy|Ken Watanabe,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate espionage by infiltrating the sub...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a mysterious ring from his uncle...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz Company,2001-12-18,7.8,2001,778368364
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaron Eckhart|Gary Oldman,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destroy the One Ring of Power while G...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz Company,2002-12-18,7.8,2002,847287400
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|Maureen Lipman|Emilia Fox,Roman Polanski,Music was his passion. Survival was his masterpiece.,The Pianist is a film adapted from the biography of Wladyslaw Szpilman. A Jew...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio Babelsberg|Agencja Produkcji Fil...,2002-09-24,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom,Peter Jackson,The eye of the enemy is moving.,"Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the o...",201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyle Chandler|Rob Reiner,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in a large securities fraud case ...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Productions|Red Granite Pictures|Sikelia ...,2013-12-25,7.9,2013,292000694
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara|Amy Adams|Olivia Wilde,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lonely writer purchases a newly dev...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,24351251
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyong'o|Benedict Cumberbatch|Paul ...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon Northup, a free black man from up...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River Road Entertainment|Film4|New R...,2013-10-18,7.9,2013,167000000
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria Bello|Melissa Leo,Denis Villeneuve,Every moment matters.,"When Keller Dover's daughter and her friend go missing, he takes matters into...",153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:38 Productions,2013-09-18,7.8,2013,76126687
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto|Denis O'Hare|Steve Zahn,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,"Loosely based on the true-life tale of Ron Woodroof, a drug-taking, women-lov...",117,Drama|History,Universal Studios|Universal Pictures|Voltage Pictures|Truth Entertainment,2013-09-07,7.8,2013,50198285
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scarlett Johansson|Andy Serkis,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose intense rivalry leads them on a lif...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,2006-10-19,7.8,2006,69676311
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffalo|Kirsten Dunst,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend underwent a procedure to erase h...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Focus Features,2004-03-19,7.8,2004,52258126
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|CiarÃ¡n Hinds|Kevin J. O'Connor,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview learns of oil-rich land in Cal...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount Vantage,2007-12-28,7.8,2007,51181545
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mark Boone Junior|Russ Fega,Christopher Nolan,Some memories are best forgotten.,"Suffering short-term memory loss after a head injury, Leonard Shelby embarks ...",113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|Team Todd|I Remember Productions,2000-10-11,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [489]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [490]:
# формируем Series с парами актёров, снявшихся вместе, и рассчитываем число вхождений каждой пары
combinations_data = get_combinations_list(data)
combinations_data.value_counts().head(5)

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
Name: cast, dtype: int64

ВАРИАНТ 2

In [491]:
# формируем Series с парами актёров, снявшихся вместе, и получаем наиболее часто встреяающиеся пары
combinations_data = get_combinations_list(data)
Counter(combinations_data).most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

# Submission

In [492]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama ',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [493]:
# и убедиться что ни чего не пропустил)
len(answers)

27